
body{
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(rgb(255, 62, 3), rgb(211, 155, 248), rgb(250, 128, 201));
    
    color: #ffffff;}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;}
#main-img {

height: 400px;
width: 400px;
border-radius: 200px;
border: 4px solid rgb(255, 144, 210) }
h1, h2, h3, h4 { text-shadow: 0px 1px black;}
#age, #birthyear {
background: rgb(255, 144, 210);}
#age {
    padding: 5px 10px;
    border-radius: 7px;
    margin: 7px 0 10px 0;}
#birthyear {
    margin-top: 15px;
    padding: 5px 10px;
    border-radius: 7px;}
.party-section { margin-top: 10px;}
.party-hint { margin-bottom: 10px;}
.party-title { margin-bottom: 10px;}
.party-img{
    border: 5px solid rgb(249, 249, 252);
    border-radius: 18px;
    width: 450px;
    height: 450px;
    background-image: url(party.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
    margin: 0 auto;
    padding: 14px;}
.party-img:hover {background-image: url(party.gif);}
.excited-section {margin:50px ;}
.excited-title {margin-bottom: 12px;}
.excited-img {
    border: 5px solid rgb(249, 249, 252);
    border-radius: 18px;
    width: 450px;
    height: 450px;
    background-image: url(excited.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 500px 500px;
    margin: 0 auto;
    padding: 14px;}
.excited-img:hover{background-image: url(excited.gif);}
.food-img {
    height: 450px;
    width: 450px;
    margin: 0 auto;
    border: 6px solid white;
    border-radius: 18px;
    padding: 14px;
    background-image: url(food.jpg);
    background-size: cover;}
.food-title{margin-bottom: 12px}
    .food-img:hover {background-image: url(food.gif);}
.share-section { margin-top: 40px;}
.share-title{margin-bottom: 12px}
.share-img {
    height: 450px;
    width: 450px;
    border: 6px solid white;
    border-radius: 18px;
    margin: 0 auto;
    padding: 14px;
    background-image: url(share.png);
    background-size: 500px 500px;
    background-position: center;}
.share-img:hover{background-image: url(share.gif);}
.badass-section {margin-top: 40px;}
.badass-title{margin-bottom: 12px;}
.badass-img {
    height: 450px;
    width: 450px;
    border: 6px solid white;
    border-radius:24px ;
    margin: 0 auto ;
    padding:14px ;
    background-image: url(badass.png);
    background-image: center;
    background-size: 500px 499px;
    background-position: center;}
.badass-img:hover {
    background-image: url(badass.gif);
    background-size:100% 100% ;
    background-repeat: no-repeat;}
.genius-section {margin-top: 40px}
.genius-title {margin-bottom: 12px}
.genius-img {
    height: 450px ;
    width: 450px;
    margin: 0 auto;
    padding: 14px;
    border: 6px solid white;
    border-radius: 18px;
    background-image: url(genius.png);
    background-size: 500px 515px;
    background-position: center;
    


}
.genius-img:hover {
    background-image: url(genius.gif);}

.cheers-section {margin-top: 40px;}
.cheers-title {margin-bottom: 12px;}
.cheers-img {
    height: 450px;
    width: 450px;
    border: 6px solid white;
    border-radius:24px ;
    margin: 0 auto ;
    padding:14px ;
    background-image: url(cheers.jpg);
    background-image: center;
    background-size: cover;
    background-position: center;}
.cheers-img:hover {
    background-image: url(cheers.gif);
    background-repeat: no-repeat;
    background-size: 480px 279px;
}
#cheers-gif {
    height: 250px;
}
#footer {
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 20px;
}
#last-remark {
    margin-top: 40px;
    text-align: end;
}