div {
    height: 400px;
    width: 400;
    text-align: center;
    color: white;
    background: red;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px 0;
    margin: 5px;
    font-size: 30px;
    font-weight: bold;
}
div:hover {
    background-image: url("food.gif");




}
